<section id="Section2">
    <article id="texto2">
        <h1>Juegos</h1>
        <h2>Mejores Juegos</h2>
        <p1>En este apartado se puede observar caules fueron los mejores juegos del año 2020, estos cambiaron el sistema tanto de RPG, FPS y el mundo abierto.</p1>
        <button>Inventario</button>
    </article>
    <article>
        <img src="assets/images/cyberpunk.jpg" alt="Cyberpunk2007">
        <h3>{{Producto1 1}}</h3>
        <p>{{Producto1 2}}</p>
    </article>
    <article>
        <img src="assets/images/ghost.jpg" alt="Ghost of Tsushima">
        <h3>{{Producto2 1}}</h3>
        <p>{{Producto2 2}}</p>
    </article>
    <article>
        <img src="assets/images/doom.jpg" alt="Doom Eternal">
        <h3>{{Producto3 1}}</h3>
        <p>{{Producto3 2}}</p>
    </article>
</section>


